.form-group {
    height: 55vh;
    margin-top: 20vh;
    padding: 10px; 
  }
  
.word_form, .mean_form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
  
.word_write_form {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-left: 14vw;
}
.mean_write_form {
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}
  
.submit_btn {
    display: flex;
    justify-content: space-around;
}

.mz_plus_write_btn {
    padding: 10px 20px; /* 버튼 내부 여백을 설정하여 크기를 조정합니다. */
    font-size: 10vw; /* 버튼 내부 텍스트의 크기를 조정합니다. */
    height: 15vh;
    width: 40vw;
    border: 2px solid #000000; /* 버튼 테두리 스타일을 설정합니다. */
    border-radius: 100%;  /* 버튼 테두리를 둥글게 만듭니다. */
    background-color: #007bff; /* 버튼 배경색을 설정합니다. */
    color: #fff; /* 버튼 텍스트 색상을 설정합니다. */
    cursor: pointer; /* 버튼 위에 마우스를 올렸을 때 커서 모양을 변경합니다. */
    transition: all 0.3s ease;
  }
.mz_plus_cansle_btn {
    padding: 10px 20px; /* 버튼 내부 여백을 설정하여 크기를 조정합니다. */
    font-size: 10vw; /* 버튼 내부 텍스트의 크기를 조정합니다. */
    height: 15vh;
    width: 40vw;
    border: 2px solid #000000; /* 버튼 테두리 스타일을 설정합니다. */
    border-radius: 100%;  /* 버튼 테두리를 둥글게 만듭니다. */
    background-color: #007bff; /* 버튼 배경색을 설정합니다. */
    color: #fff; /* 버튼 텍스트 색상을 설정합니다. */
    cursor: pointer; /* 버튼 위에 마우스를 올렸을 때 커서 모양을 변경합니다. */
    transition: all 0.3s ease;
}

  /*---------------------------------------------------------*/
  .button-group button {
    padding: 8px 20px;
    font-size: 30px;
    margin-top: 300px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.button-group button:hover {
    background-color: #0056b3;
}
