main {
    display: flex;
    justify-content: center;
}

.main {
    height: 45vh;
    width: 95%;
    margin-top: auto;
    border: 2px solid black; 
    padding: 10px; 
}

.main-title {
    font-size: 20px;
}

.User_information_name {
    padding: 10px 5px; /* 버튼 내부 여백을 설정하여 크기를 조정합니다. */
    font-size: 15px; /* 버튼 내부 텍스트의 크기를 조정합니다. */
    height: 5vh;
    width: 100px;
    border: 2px solid #000000; /* 버튼 테두리 스타일을 설정합니다. */
    border-radius: 1000px; /* 버튼 테두리를 둥글게 만듭니다. */
    background-color: #007bff; /* 버튼 배경색을 설정합니다. */
    color: #fff; /* 버튼 텍스트 색상을 설정합니다. */
    cursor: pointer; /* 버튼 위에 마우스를 올렸을 때 커서 모양을 변경합니다. */
    transition: all 0.3s ease;
}

.User_information_name:hover {
    transform: scale( 1.2, 1.2 )
}

.userName {
    padding-left: 7vw;
}


.API_part {
    font-size: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%; /* 메인 컨테이너 높이에 맞게 설정 */
}
/* 뜻 폰트 사이즈 변환 */


.small {
    font-size: 15vh;
}

.medium {
    font-size: 10vh;
}

.large {
    font-size: 5vh;
}

.big {
    font-size: 4vh;
}

.API_part.word {
    font-size: 20vw; /* 원하는 크기 설정 */
}

