.warning_total_container {
    display: flex; /* Flex 컨테이너로 설정 */
    flex-direction: column; /* 내용을 수직 방향으로 정렬 */
    align-items: center; /* 수직 정렬을 위해 중앙 정렬 */
    justify-content: center; /* 수평 정렬을 위해 중앙 정렬 */
    height: 50vh;
    width: 99%;
    border: 2px solid #000000;
}

.warning_btn_container {
    display: flex; /* Flex 컨테이너로 설정 */
    align-items: center; /* 수직 정렬을 위해 중앙 정렬 */
    justify-content: center; /* 수평 정렬을 위해 중앙 정렬 */
    width: 80%;
    margin: 10vh;
}

.del_btn {
    display: flex; /* Flex 컨테이너로 설정 */
    align-items: center; /* 수직 정렬을 위해 중앙 정렬 */
    justify-content: center; /* 수평 정렬을 위해 중앙 정렬 */

    text-decoration: none;
    font-size: 4vw; /* 버튼 내부 텍스트의 크기를 조정합니다. */
    height: 10vh;
    width: 50vw;
    border: 2px solid #000000; /* 버튼 테두리 스타일을 설정합니다. */
    background-color: #007bff; /* 버튼 배경색을 설정합니다. */
    color: #fff; /* 버튼 텍스트 색상을 설정합니다. */
    cursor: pointer; /* 버튼 위에 마우스를 올렸을 때 커서 모양을 변경합니다. */
    transition: all 0.3s ease;
}
.del_btn:hover {
    background-color: #0056b3; /* 버튼 배경색을 변경합니다. */
    border-color: #0056b3; /* 버튼 테두리 색상을 변경합니다. */
}

.del_btn:active {
    background-color: #003a80; /* 버튼 배경색을 다시 변경합니다. */
    border-color: #003a80; /* 버튼 테두리 색상을 다시 변경합니다. */
}

.cansle_btn {
    display: flex; /* Flex 컨테이너로 설정 */
    align-items: center; /* 수직 정렬을 위해 중앙 정렬 */
    justify-content: center; /* 수평 정렬을 위해 중앙 정렬 */

    text-decoration: none;
    font-size: 4vw; /* 버튼 내부 텍스트의 크기를 조정합니다. */
    height: 10vh;
    width: 50vw;
    border: 2px solid #000000; /* 버튼 테두리 스타일을 설정합니다. */
    background-color: #007bff; /* 버튼 배경색을 설정합니다. */
    color: #fff; /* 버튼 텍스트 색상을 설정합니다. */
    cursor: pointer; /* 버튼 위에 마우스를 올렸을 때 커서 모양을 변경합니다. */
    transition: all 0.3s ease;
}
.cansle_btn:hover {
    background-color: #0056b3; /* 버튼 배경색을 변경합니다. */
    border-color: #0056b3; /* 버튼 테두리 색상을 변경합니다. */
}

.cansle_btn:active {
    background-color: #003a80; /* 버튼 배경색을 다시 변경합니다. */
    border-color: #003a80; /* 버튼 테두리 색상을 다시 변경합니다. */
}